// Styles for site Session Marteau 
//-------------------------------

.youtube-video {
    text-align: center;
  }
  
.navigation-menu {
    text-align: center;
}

.image-tags {
  width: 100%;
  text-align: center;
}